<div id="footer">
    <footer class="footer">
      <div class="devcontainer">
        <div class="devrow">
          <div class="footer-col">
            <h4>About</h4>
            <ul>
              <li><a href="">Pie Stories</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">About Us</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Help</h4>
            <ul>
              <li><a href="">Shipping</a></li>
              <li><a href="">Cancellatioin and Return</a></li>
              <li><a href="">Ewaste Management</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Policy</h4>
            <ul>
              <li><a href="">Privacy</a></li>
              <li><a href="">Terms Of Use</a></li>
              <li><a href="">Return Policy</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Social</h4>
            <ul>
              <li><a href="">Facebook</a></li>
              <li><a href="">Twitter</a></li>
              <li><a href="">Youtube</a></li>
              <li><a href="">Instagram</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Mail Us</h4>
            <ul>
              <li>
                <a style="font-size: 13px" href=""
                  >helpline@paiinternational.in</a
                >
              </li>
              <li><a href="">phone</a></li>
              <li>
                <a style="font-size: 13px" href=""
                  >Bangalore: 080 42464343 (10 AM - 7 PM)</a
                >
              </li>
              <li>
                <a style="font-size: 13px" href="">
                  Hyderabad: 040 42464343 (10 AM - 7 PM)</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Registered Adress</h4>
            <ul>
              <li>
                <a href=""
                  >Pai International Electronics Ltd. # 28/1A, 100 Feet Road,
                  Near CMH Road, Indiranagar, Bangalore – 560 038.</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div id="devlast">
      <div id="devlast1">
        <div class="devrightres">
          Pai International © 2022. All right reserved
        </div>
        <div>
          <img
            src="https://www.paiinternational.in/static/assets/pai/images/american-express.png"
            alt=""
          />
        </div>
        <div>
          <img
            src="https://www.paiinternational.in/static/assets/pai/images/mastercard.png"
            alt=""
          />
        </div>
        <div>
          <img
            src="https://www.paiinternational.in/static/assets/pai/images/visa.png"
            alt=""
          />
        </div>
        <div>
          <img
            src="https://www.paiinternational.in/static/assets/pai/images/netbanking.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>