<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/testnav.css"/>
    <link rel="stylesheet" href="../style/services.css">
    <link rel="stylesheet" href="../style/footer.css"/>
</head>
<body>

    <div id="container"></div>
    
    <div id="services_home_head">

        <div id="services_home">
            <h4><a id="home_color" href="/index.html">Home</a></h4>
            <h3> > </h3>
            <h4 id="sevices_color">Services</h4>
        </div>
        <div id="services_container">
            <div id="services_h1_tag"> <h1>Services</h1></div>
            <div><img id="img_pai_value" src="http://pai.bangalore2.com/media/images/VAS_FINAL1-min_X0PgK4e.jpg" alt=""></div>
            <div id="pai_value_added_services"><h2>Pai Value Added Services</h2></div>
            <div id="pai_protectoin">
                <div>PaiSecure-PriceDropProtection</div>
                <div>PAISECURE–365DaysDAMAGEPROTECTION</div>
                <div>PaiSecure-ScreenProtectionPlan</div>
                <div>PaiSecure-BuyBackGuarantee</div>
            </div>

        </div>

    </div>
    <div id="footer"></div>
</body>
</html>

<script src="../script/services.js" type="module">
    
</script>